/* logo */
a#main-a {
  color: white;
  border: white;
  border: solid;
  background-origin: padding-box;
  padding: 10px;
  /* remove the bottom line */
  text-decoration: none;
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: pink;
}

footer {
  color: white;
}

a.link-list {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  opacity: 1;
  font: normal 150px;
  font-size: 110px;
  line-height: 250px;
}

a.link-list ::after {
  display: block;
  content: "";
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 800ms ease-in-out;
}

a.link-list :hover ::after {
  transform: scaleX(1);
  content: "";
}
h2 {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  opacity: 1;
  font: normal 150px;
  font-size: 110px;
  line-height: 150px;
}

h2:after {
  display: block;
  content: "";
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 800ms ease-in-out;
}

h2:hover:after {
  transform: scaleX(1);
  content: "";
}
h2.fromRight:after {
  transform-origin: 100% 50%;
}
h2.fromLeft:after {
  transform-origin: 0% 50%;
}
